@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .about-links {
    @apply underline text-primary font-semibold hover:text-danger visited:text-discord
  }

  .logo {
    width: 10rem;
  }
  
  .font-big {
    font-size: 1.125rem;
    line-height: 3;
  }

  .about-cta {
    @apply flex-auto h-16 pb-1 pt-2 pl-2 pr-2 mr-2 bg-primary hover:ring-white rounded ring-2 ring-black text-white;
  }

  .btn-cta {
    @apply inline-block pb-1 pt-2 pl-2 pr-2 mr-2 bg-primary hover:ring-white rounded ring-2 ring-black text-white;
  }

  .bg-block {
    top:0;
    left: 0;
    right: 0;
    position: relative;
    overflow: auto;
    display: block;
    background-size:cover;
  }
  
  .bg-projects {
    @apply bg-block;
    background-image: url("/img/projects-bg.jpg");
  }

  .bg-resources {
    @apply bg-block;
    background-image: url("/img/resources-bg.jpg");    
  }

  .bg-discord-guild {
    @apply bg-block;
    background-image: url("/img/discord-bg.jpg");    
  }
  
  .social-icons .icon-link:hover {
    color: #fe6431;
  }
}
