---
layout: layouts/default
title: Alumni
---

<div class="container mx-auto m-16 w-screen">
    <div class="grid grid-rows-1 grid-flow-col">
        <div class="row-span-1">
        <h1 class="text-8xl font-bold">Our Alumni</h1>
        </div>
    </div>
</div>
<div class="container mx-auto h-full m-16 p-6 w-screen">
    <div class="grid grid-cols-2 md:grid-cols-4">
        <div class="col-span-1">
        <img class="rounded-sm w-48 items-center" src="/img/epictek.jpg" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">epictek</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/logo.png" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">shinsters</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/logo.png" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">sleepyxuras</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/closebracket.jpg" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">closebracket</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/logo.png" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">?????</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/logo.png" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">?????</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/logo.png" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">?????</h4>
        </div>
        <div class="col-span-1">
        <img class="rounded-2xl w-48 items-center" src="/img/logo.png" />
        <h4 class="p-2 text-gray-400 font-medium leading-relaxed">?????</h4>
        </div>

    </div>
</div>