<div class="container mx-auto h-full m-16 p-6 w-11/12 h-11/12">
    <div class="grid grid-rows-1 grid-flow-col gap-4">
        <div class="row-span-2 col-span-2">
        <p class="color-grey">Freeside is a student run project at the <a class="link color-primary text-500 weight-bold" href="https://www.hull.ac.uk/">University of Hull</a>. | <p class="color-grey">Built by <a href="https://github.com/closebracket" class="link color-primary text-500 weight-bold">closebracket</a>.</p></p> 
        </div>
        <div class="row-span-1 col-span-1">
        <img class="w-40" src="../assets/img/uoh-logo.png" />
        </div>
    </div>
</div>


