<div class="container mx-auto h-full m-16 p-6 w-11/12 h-11/12">
  <div class="grid grid-rows-1 grid-flow-col gap-4">
    <div class="row-span-2 col-span-2">
      <p class="color-grey">Freeside is a student run project at the <a
                        class="link color-primary text-500 weight-bold" href="https://www.hull.ac.uk/">University of
                        Hull</a>.
                        <hr/>
                <p class="color-grey">Website built by:</p>
                        	{% for contributor in contributors %}

  <a class="inline-block" href="{{ contributor.html_url }}">
      <div class="m-1 mr-2 w-12 h-12 relative flex justify-center items-center rounded-full bg-gray-500 text-xl text-white">
        <img src="{{contributor.avatar_url}}" class="rounded-full">
      </div>
  </a>

	{% endfor %}

      </p>
    </div>
    <div class="row-span-1 col-span-1">
      <img class="w-40" src="../img/uoh-logo.png"/>
    </div>
  </div>
</div>

