{# page meta #}
<title>{{ title or metadata.title }}</title>
<meta charset="utf-8">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta name="description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="{{ robots if robots else 'index,follow' }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ metadata.description }}">
<meta name="author" content="{{ metadata.author }}">
<meta name="HandheldFriendly" content="true"/>

{# include css #}
<link rel="stylesheet" href="../assets/css/main.css">

{# include favicon, fonts, etc #}
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
<link rel="icon" type="image/png" href="/img/favicon.png">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180">

<!-- endbuild -->
