
<div class="container mx-auto m-2 h-24">
<nav id="nav" class="nav box-hidden mobileXL:box-block" aria-label="Primary">
<a href="/"><img src="/assets/img/logo.png" class="logo float-left w-64">
<ul class="float-right flex space-x-3 m-6">
<li><a class="link hover:text-yellow-600" href="/about">about</a></li>
<li><a class="link hover:text-yellow-600" href="/about">history</a></li>
<li><a class="link hover:text-yellow-600" href="/alumni">alumni</a></li>
<li><button class="link link-button ring-1 ring-black bg-primary box-block color-primary hover:text-white text-400 weight-bold pl-500 pr-500 "><a href="https://profiles.freeside.co.uk/join"> create account </a></li>
<li><button class="link link-button ring-1 ring-black bg-gray-400 box-block color-primary hover:text-white text-400 weight-bold pl-500 pr-500 "><a href="http://profiles.freeside.co.uk/login"> login </a></button></li>
</ul>
</nav>
</div>