<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">
{# include header #}
{% include "snippets/head.njk" %}
{# include nav #}
{% include "snippets/nav.njk" %}

<body class="bg-white color-primary font-base leading-normal">




    <div id="wrapper" class="container mx-auto ">

        {# include content #}
        {{ content | safe }}

        {# include footer #}
        {% include "snippets/footer.njk" %}

    </div>

    {# include mobile nav #}

</body>
</html>