<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">
{# include header #}
{% include "snippets/head.njk" %}

<body class="bg-white color-primary font-base leading-normal">




    <div id="wrapper" class="container mx-auto ">
        <div class="container flex mx-auto h-24 mb-20 mt-2 py-8">
          <div class="flex-none">
            <a href="/"><img src="/img/logo.svg" class="logo float-left"></a>
          </div>
        </div>

        {# include content #}
        {{ content | safe }}

        {# include footer #}
        {% include "snippets/footer.njk" %}

    </div>

</body>
</html>
