<!doctype html>
<html lang="en">
{# include header #}
{% include "snippets/head.njk" %}

<body class="bg-white color-primary font-base leading-normal">

    {# include nav #}
    {% include "snippets/nav.njk" %}


    <div id="wrapper" class="container mx-auto ">

        {# include content #}
        {{ content | safe }}

        {# include footer #}
        {% include "snippets/footer.njk" %}

    </div>
</body>
</html>