---
layout: layouts/default
title: About
---

<div class="container mx-auto h-full m-16 p-6 w-screen">
    <div class="grid grid-rows-1 grid-flow-col gap-2">
        <div class="row-span-1 col-span-1">
        <h1 class="text-8xl font-bold overflow-ellipsis z-10">Linux @ Hull.</h1>
        <h5 class="tracking-wide leading-loose">Freeside is the student run and maintained linux cluster within the University Of Hull Computer Science Department  providing Linux administration experience, mentoring and technical advice alongside other peer-led support. It is completely <b>free</b> to all students to join, irrespective of degree pathway.</h5>
        </div>
        <div class="row-span-2 col-span-2">
        <img class="rounded-full pull-right shadow-2xl z-0" src="/assets/img/lab.jpg" />
        </div>
        
    </div>
</div>