---
layout: layouts/default
title: Freeside
---

<section class="landing mx-auto container h-full w-screen grid grid-rows-1 grid-flow-col gap-2">
    <div class="grid grid-cols-4 gap-4">
        <div class="col-span-4 md:col-span-2">
            <h1 class="text-8xl font-bold overflow-ellipsis">Linux @ Hull.</h1>
            <p class="font-big tracking-wide leading-loose py-4">Freeside is the student run and maintained linux cluster within
                    the
                    University Of Hull Computer Science Department providing Linux administration experience, mentoring
                    and
                    technical advice alongside other peer-led support. It is completely <b>free</b> to all students to
                    join,
                    irrespective of degree pathway.</p>
        </div>
        <div class="col-span-4 md:col-span-2">
            <img class="rounded-3xl pull-right shadow-2xl" src="/img/lab.jpg"/>
        </div>
    </div>
</section>
<div class="container mx-auto h-full m-16 p-6 grid grid-cols-1 md:grid-cols-2">
        <div class="col-span-1">
            <h3>Connect with us</h3>
            <ol class="flex gap-8 m-5">
                <li>
                    <a class="icon-link" href="https://github.com/freesidehull"><img height="64" width="64"
                                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg"/></a>
                </li>
                <li>
                    <a class="icon-link" href="https://gitlab.freeside.co.uk/"><img height="64" width="64"
                                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/gitlab.svg"/></a>
                </li>
                <li>
                    <a class="icon-link" href="https://discord.gg/qAZ8dAp"><img height="64" width="64"
                                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/discord.svg"/></a>
                </li>
                <li>
                    <a class="icon-link" href="http://forums.freeside.co.uk/"><img height="64" width="64"
                                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/discourse.svg"/></a>
                </li>
                <li>
                    <a class="icon-link" href="https://www.twitter.com/freesidehull"><img height="64" width="64"
                                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/twitter.svg"/></a>
                </li>
                <li>
                    <a class="icon-link" href="https://www.facebook.com/freesidehull"><img height="64" width="64"
                                src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/facebook.svg"/></a>
                </li>

            </ol>
        </div>
        <div class="col-span-1">
            <ol class="flex gap-4 m-5 p-5 justify-center">
            <button class="bg-discord text-white btn-cta inline-block">
                <a href="https://discord.gg/qaz8dap"> Join our Discord </a>
            </button>
            <button class="btn-cta inline-block">
                <a href="https://profiles.freeside.co.uk/join"> Create Freeside Account </a>
            </button>
            </ol>
        </div>
</div>
</div>
<div class="container mx-auto h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="col-span-1 bg-alumni rounded-xl p-10">
        <h2 class="text-white text-bold">Alumni Network</h2>
        <p class="text-white">Our community is made up of like-minded life-time members including many distinguished alumni
                        whom continue to support students.</p>
        <br>
            <button class="btn-cta">
                <a href="/alumni"> View Alumni </a>
            </button>
    </div>
    <div class="col-span-1 rounded-xl bg-project p-10">
        <h2 class="text-white text-bold">Hands-on Projects</h2>
        <p class="text-white">Get involved with hands-on Linux administration or contribute to open-source coding projects.</p>
        <br>
            <button class="btn-cta">
                <a href="https://github.com/freesidehull"> Get involved </a>
            </button>
    </div>
    <div class="col-span-1 rounded-xl bg-primary p-10">
        <h2 class="text-bold">Free Resources</h2>
        <p>Take your learning to the next level with our Free Student Resources List featuring over 130 contributions in multiple areas of Computer Science.</p>
        <br>
            <button class="btn-cta ">
                <a href="https://github.com/freesidehull/studentresources"> View List </a>
            </button>
    </div>
</div>
